* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
  height: 100px;
  background-color: #3161e0;
  display: flex;
}
.container {
  width: 1180px;
  margin: auto;
  display: flex;
}

.flex {
  display: flex;
}

.header-section {
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.header-section * {
  padding: 5px;
}

.btn {
  border-radius: 50px;
  background-color: white;
  border: none;
}
.login {
  padding: 5px 10px;
}

.list {
  list-style: none;
  display: flex;
}

header li {
  color: white;
  margin-left: 35px;
}

.bg-img {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
}

.jumbotron {
  width: 50%;
  height: 250px;
  text-align: center;
  color: white;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  margin: 10px auto;
  line-height: 25px;
}

.big {
  height: 40px;
  padding: 15px;
  font-size: 16px;
  line-height: 2px;
}

.jumbotron .btn {
  margin-top: 30px;
  margin-right: 30px;
}
.secondary {
  background-color: #23272a;
  color: white;
}

.bg-white {
  min-height: 400px;
}

.blue-box {
  width: 60%;
  height: 300px;
  justify-content: center;
  /* border: 1px dashed black;
  background-color: #1d90ff; */
}

.pink-box {
  width: 20%;
  justify-content: center;
  padding-top: 20px;
  /* border: 1px dashed black;
  background-color: #ffc1cb; */
}

h2 {
  font-size: 2rem;
}
.container-center {
  justify-content: center;
}
.bg-grey-sm {
  height: 400px;
  background-color: #f6f6f6;
}
.bg-grey-lg {
  height: 950px;
  background-color: #f6f6f6;
}

.green-box {
  width: 80%;
  height: 700px;
  text-align: center;
  /* border: 1px dashed black;
  background-color: #238b21; */
}
.stars {
  background-image: url(../img/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  background-position: center;
}

h3 {
  padding-top: 20px;
  font-size: 1.5rem;
}

.download {
  margin-top: 20px;
  background-color: #8fa1e1;
  color: white;
}

.bg-black {
  background-color: #23272a;
  color: white;
}

.adv {
  width: 20%;
  line-height: 30px;
  padding-right: 15px;
}

.flag {
  height: 10px;
  width: 20px;
}

.info {
  width: 15%;
  padding-top: 25px;
  color: #7389da;
  font-weight: bold;
}
.footer-title {
  color: #7389da;
}

.fa-brands {
  margin-right: 10px;
}

.footer-list {
  list-style: none;
  color: white;
  font-weight: normal;
  font-size: small;
  line-height: 30px;
}

main {
  border-bottom: 1px solid #bdbebf;
}

.footer-bg {
  height: 100px;
  background-color: #23272a;
}

.footer-sec {
  width: 80%;
  height: 50px;
  background-color: #7fffd4;
  justify-content: space-between;
  align-items: center;
}

.footer-sec div {
  border: 1px dashed black;
  background-color: #ffb6c2;
}
